extends conteiner
block content
    p Dont worry, Your password is under control
    p Please click link below to set new password
    a(href = `http://localhost:5000/auth/passwordForgot?token=${actionToken}`) Click here!