extends conteiner
block content
    p Привіт #{userName}
    p ви не заходили у свій акаунт більше 10 днів, згідно умов нашої платформи вам буде нараховано штраф за відсутність
    p активності в розмірі всіх ваших грошей :D



